@charset "UTF-8";
@font-face {
    font-family: "SF-Pro";
    src: url("assets/SF-Pro-Rounded-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: "SF-Pro", sans-serif;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-user-select: none;
    user-select: none;
}

:root {
    --lt-transparancy: 0.25;
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-300-transparent: rgba(
        222,
        227,
        237,
        var(--lt-transparancy)
    );
    --lt-color-gray-350: #d2d7e0;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-700-transparent: rgba(47, 50, 55, var(--lt-transparancy));
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-800-transparent: rgba(29, 30, 32, var(--lt-transparancy));
    --lt-color-gray-900: #111213;
    --lt-color-special-red: rgb(255, 0, 0);
    --lt-color-special-blue: rgb(0, 0, 255);
    --lt-color-special-green: rgb(0, 255, 0);
    --lt-color-special-yellow: rgb(255, 255, 0);
    --lt-color-red: rgba(231, 78, 78, 0.75);
    --lt-color-red-transparent: rgba(231, 78, 78, var(--lt-transparancy));
    --lt-color-strong-red: rgb(187, 60, 60);
    --lt-color-red-100: rgb(192, 91, 91);
    --lt-color-red-200: rgba(172, 56, 56);
    --lt-color-red-300: rgb(122, 59, 59);
    --lt-color-red-400: rgb(78, 37, 37);
    --lt-color-red-500: rgb(61, 27, 27);
    --lt-color-light-red: #682828;
    --lt-color-blue: #346c99;
    --lt-color-blue-100: #bcd3e8;
    --lt-color-blue-200: #8bacc6;
    --lt-color-blue-300: #8babc5;
    --lt-color-blue-400: #346c99;
    --lt-color-green-default: rgba(87, 184, 70, 0.8);
    --lt-color-green-default-transparent: rgba(
        87,
        184,
        70,
        var(--lt-transparancy)
    );
    --lt-color-green-active: rgba(87, 184, 70, 1);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16),
        0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1),
        0 6px 20px -3px rgba(0, 0, 0, 0.2);
    --lt-color-white: #fff !important;
    --lt-color-white-transparent: rgba(255, 255, 255, var(--lt-transparancy));
    --lt-color-light-white: rgba(255, 255, 255, 0.75) !important;
    --lt-color-black: #111213 !important;
    --lt-color-transparent: rgba(255, 255, 255, 0) !important;
    --lt-color-transparent-hover: rgba(255, 255, 255, 0.1) !important;
    --lt-color-background-light: var(--lt-color-gray-100) !important;
    --lt-color-background-default: var(--lt-color-gray-200) !important;
    --lt-color-background-dark: var(--lt-color-gray-300) !important;
    --lt-color-border-light: var(--lt-color-gray-200) !important;
    --lt-color-border-default: var(--lt-color-gray-300) !important;
    --lt-color-border-dark: var(--lt-color-gray-400) !important;
    --lt-color-text-very-light: var(--lt-color-gray-500) !important;
    --lt-color-text-light: var(--lt-color-gray-600) !important;
    --lt-color-text-default: var(--lt-color-gray-700) !important;
    --lt-color-text-dark: var(--lt-color-gray-800) !important;
    --lt-color-overlay-default: #fff !important;
    --lt-color-overlay-dark: #fff !important;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
    --lt-global-size: min(12.6vh, 12.6vw * 1.5) !important;
    --theme-on-hover: rgba(0, 0, 0, 0);
    --theme-on-hover-size: 0;
    --theme-relative-font-size: 1;
    --base-output-font-size: var(--lt-global-size);
    --base-button-font-size: calc(var(--lt-global-size) / 2);
    --size: 1;
}

.theme-1 {
    --theme-font-color: var(--lt-color-white);
    --theme-output-font-color: var(--theme-font-color);
    --theme-font-oposite-color: var(--lt-color-black);
    --theme-background-color: var(--lt-color-gray-900);
    --theme-operation-color: var(--lt-color-gray-800);
    --theme-number-color: var(--lt-color-gray-700);
    --theme-button-oposite-color: var(--lt-color-gray-300);
    --theme-close-button-color: var(--lt-color-light-red);
    --theme-alt-button-color: var(--lt-color-green-default);
    --theme-scrollbar-thumb-color: var(--lt-color-white);
    --theme-scrollbar-thumb-hover-color: var(--lt-color-gray-300);
}

.theme-2 {
    --theme-font-color: var(--lt-color-gray-700);
    --theme-output-font-color: var(--theme-font-color);
    --theme-font-oposite-color: var(--lt-color-gray-100);
    --theme-background-color: var(--lt-color-gray-200);
    --theme-operation-color: var(--lt-color-gray-350);
    --theme-number-color: var(--lt-color-gray-400);
    --theme-button-oposite-color: var(--lt-color-gray-700);
    --theme-close-button-color: var(--lt-color-red);
    --theme-alt-button-color: var(--lt-color-green-default);
    --theme-scrollbar-thumb-color: var(--theme-font-color);
    --theme-scrollbar-thumb-hover-color: var(--lt-color-gray-600);
}

.theme-3 {
    --theme-font-color: var(--lt-color-white);
    --theme-output-font-color: var(--lt-color-white);
    --theme-font-oposite-color: var(--lt-color-black);
    --theme-background-color: var(--lt-color-transparent);
    --theme-operation-color: var(--lt-color-gray-800-transparent);
    --theme-number-color: var(--lt-color-gray-700-transparent);
    --theme-button-oposite-color: var(--lt-color-gray-300-transparent);
    --theme-close-button-color: var(--lt-color-red-transparent);
    --theme-alt-button-color: var(--lt-color-green-default-transparent);
    --theme-scrollbar-thumb-color: var(--lt-color-white-transparent);
    --theme-scrollbar-thumb-hover-color: var(--lt-color-gray-300-transparent);
    --theme-on-hover: rgba(255, 255, 255, 0.1);
    --theme-on-hover-size: calc(var(--lt-global-size) * 0.075);
}

.theme-4 {
    --theme-font-color: var(--lt-color-white);
    --theme-output-font-color: var(--lt-color-red);
    --theme-font-oposite-color: var(--lt-color-red-500);
    --theme-background-color: var(--lt-color-gray-900);
    --theme-operation-color: var(--lt-color-red-500);
    --theme-number-color: var(--lt-color-red-400);
    --theme-button-oposite-color: var(--lt-color-red);
    --theme-close-button-color: var(--lt-color-light-red);
    --theme-alt-button-color: var(--lt-color-green-default);
    --theme-scrollbar-thumb-color: var(--lt-color-white);
    --theme-scrollbar-thumb-hover-color: var(--lt-color-gray-300);
}

.theme-5 {
    --theme-font-color: var(--lt-color-gray-700);
    --theme-output-font-color: var(--lt-color-blue);
    --theme-font-oposite-color: var(--lt-color-blue-100);
    --theme-background-color: var(--lt-color-gray-200);
    --theme-operation-color: var(--lt-color-blue-100);
    --theme-number-color: var(--lt-color-blue-200);
    --theme-button-oposite-color: var(--lt-color-blue);
    --theme-close-button-color: var(--lt-color-red);
    --theme-alt-button-color: var(--lt-color-green-default);
    --theme-scrollbar-thumb-color: var(--theme-font-color);
    --theme-scrollbar-thumb-hover-color: var(--lt-color-gray-600);
}

.round-1 {
    --theme-round-radius: 50%;
}

.round-2 {
    --theme-round-radius: calc(50% / 1.41421356237);
}

.round-3 {
    --theme-round-radius: 25%;
}

.round-4 {
    --theme-round-radius: calc(25% / 1.41421356237);
}

.round-5 {
    --theme-round-radius: 12.5%;
}

.round-6 {
    --theme-round-radius: calc(12.5% / 1.41421356237);
}

.no-button-2 {
    --theme-operation-color: var(--theme-background-color);
    --theme-number-color: var(--theme-background-color);
}

.font-1 {
    --theme-relative-font-size: 1;
}

.font-2 {
    --theme-relative-font-size: 1.05;
}

.font-3 {
    --theme-relative-font-size: 1.1;
}

.font-4 {
    --theme-relative-font-size: 1.15;
}

.font-5 {
    --theme-relative-font-size: 1.2;
}

.font-6 {
    --theme-relative-font-size: 0.875;
}

.font-7 {
    --theme-relative-font-size: 0.75;
}

.font-8 {
    --theme-relative-font-size: 0.625;
}

.font-9 {
    --theme-relative-font-size: 0.5;
}

.transition * {
    transition: all 0.3s;
}

body,
html {
    --theme-output-font-size: calc(
        var(--base-output-font-size) * var(--theme-relative-font-size)
    );
    --theme-button-font-size: calc(
        var(--base-button-font-size) * var(--theme-relative-font-size)
    );
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--lt-color-transparent);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--theme-button-font-size);
    border-radius: var(--theme-round-radius);
}

#output {
    width: calc(
        4 * var(--lt-global-size) + 3 * var(--lt-global-size) / 10 * 1.5
    );
    height: calc(var(--lt-global-size) * 1.3);
    max-width: 100%;
    word-wrap: normal; /* Изменено с break-word */
    overflow-wrap: normal; /* Изменено с break-word */
    text-align: end;
    color: var(--theme-output-font-color);
    font-size: var(--theme-output-font-size);
    padding-bottom: calc(var(--lt-global-size) * 0.2);
    margin-bottom: calc(var(--lt-global-size) * 0.2);
    position: relative;
    white-space: nowrap; /* Изменено с pre-wrap */
    display: block;
    overflow-x: auto; /* Горизонтальный скролл */
    overflow-y: hidden; /* Убираем вертикальный скролл */
    /* direction: rtl;  Устанавливает направление текста справа налево */
}

#output::-webkit-scrollbar {
    height: calc(var(--lt-global-size) * 0.1);
    background-color: var(--lt-color-transparent);
    position: absolute;
}

#output::-webkit-scrollbar-thumb {
    background-color: var(--theme-scrollbar-thumb-color);
    border-radius: calc(var(--lt-global-size) * 0.05);
}

#output::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-scrollbar-thumb-hover-color);
}

.main-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: calc(var(--lt-global-size) * 0.4);
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--theme-background-color);
    grid-row: 2;
    border-radius: calc(var(--lt-global-size) * 0.4);
}

.main-container:hover {
    /*transition: all 0.5s;*/
    box-shadow: inset 0 0 var(--theme-on-hover-size) var(--theme-on-hover);
}

.button-container {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(4, var(--lt-global-size));
    grid-template-rows: repeat(5, var(--lt-global-size));
    --gap-size: calc(var(--lt-global-size) * 0.15);
    grid-column-gap: var(--gap-size);
    grid-row-gap: var(--gap-size);
}

.number-button {
    --background-color: var(--theme-number-color);
    --font-color: var(--theme-font-color);
    background-color: var(--background-color);
    color: var(--font-color);
}

.operation-button {
    --background-color: var(--theme-operation-color);
    --font-color: var(--theme-font-color);
    background-color: var(--background-color);
    color: var(--font-color);
}

.close-button {
    --background-color: var(--theme-close-button-color);
    --font-color: var(--theme-font-color);
    background-color: var(--background-color);
    color: var(--font-color);
}

.activated-button {
    --background-color: var(--theme-alt-button-color);
    --font-color: var(--theme-font-color);
    color: var(--font-color);
}

.error {
    --animation-color: var(--lt-color-red);
    animation: handle_eval 0.8s;
}

.success {
    --animation-color: var(--lt-color-green-active);
    animation: handle_eval 0.8s;
}

.copy-paste {
    --animation-color: var(--lt-color-blue);
    animation: handle_eval 0.8s;
}

.animated {
    animation: pressed_button 0.6s;
}

@keyframes pressed_button {
    10% {
        background: var(--theme-button-oposite-color);
        color: var(--theme-font-oposite-color);
        transform: scale(calc(var(--size) * 1.075));
    }
    100% {
        background: var(--background-color);
        color: var(--font-color);
        transform: scale(calc(var(--size)));
    }
}
@keyframes handle_eval {
    0% {
        box-shadow: none;
    }
    30% {
        box-shadow: inset 0 0 0 calc(var(--lt-global-size) * 0.075)
            var(--animation-color);
    }
    100% {
        box-shadow: inset 0 0 var(--theme-on-hover-size) var(--theme-on-hover);
    }
}
@media (hover: hover) {
    button:hover {
        --size: 1.1;
        transition: all 0.3s;
        transform: scale(1.1);
    }
} /*# sourceMappingURL=style.css.map */
